button {
  display: inline-block;
}

#carouselStatus div {
  background-color: red;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
}

#carouselStatus div.selected {
  background-color: black;
  border: 1px dashed white;
  height: 30px;
  width: 30px;
  display: inline-block;
}
